<footer class="StyledFooter">
  <div class="Text">
    Made by Esteban A. Rodríguez Meléndez
  </div>
  <div class="Text">
    Follow me on
  </div>
  <ul class="SocialList">
    <li class="SocialItem">
      <a href="https://github.com/EARodriguezM" target="_blank" class="ion ion-social-github" rel="noopener noreferrer"></a>
    </li>
    <li class="SocialItem">
      <a href="https://twitter.com/EARodriguezM" target="_blank" class="ion ion-social-twitter" rel="noopener noreferrer"></a>
    </li>
    <li class="SocialItem">
      <a href="https://www.linkedin.com/in/earodriguezmelendez/" target="_blank" class="ion ion-social-linkedin" rel="noopener noreferrer"></a>
    </li>
  </ul>
</footer>
