<footer class="created-by">
  <div>
    Made by Esteban A. Rodríguez Meléndez
  </div>
  <div>
    Follow me on
  </div>
  <ul class="socials">
    <li>
      <a href="https://github.com/EARodriguezM" target="_blank" class="eva eva-github"></a>
    </li>
    <li>
      <a href="https://twitter.com/EARodriguezM" target="_blank" class="ion ion-social-twitter"></a>
    </li>
    <li>
      <a href="https://www.linkedin.com/in/earodriguezmelendez/" target="_blank" class="ion ion-social-linkedin"></a>
    </li>
  </ul>
</footer>
